@model IEnumerable<Marinares.Data.Shared.Present>
@{
    ViewBag.Title = " | Mesa de regalos";
}
<link rel="stylesheet" href=@Url.Content("~/Content/css/marinares-owl.css")>


<article class="ap-section ap-japan">
    <div class="ap-panel--white">
        <div class="ap-jp-characters">
            <div class="ap-img-sp ap-img-sp--marin"></div>
            <div class="ap-img-sp ap-img-sp--ares"></div>
        </div>
        <header class="ap-jp-head">
            <h2 class="ap-tt-sub">- Experiencia Japón -</h2>
					<p class="ap-txt">
						Debido a que llevamos viviendo juntos tres años, ya contamos con todo lo necesario para nuestro hogar. Así que puedes regalarnos una de las siguientes experiencias durante nuestra <strong>“Luna de Miel”</strong> puedes hacerlo seleccionando una de las opciones en la lista y comprar con <strong>PayPal.</strong> (Si no usas o No quieres usar Paypal, pregúntanos por otra opción para hacerlo).

						<strong><sup>*</sup>PUEDES APORTAR LA CANTIDAD QUE DESEES EN LA EXPERIENCIA QUE ELIJAS, NO TIENE QUE SER LA CANTIDAD TOTAL</strong>
					</p>
        </header>
        <section class="ap-panel ap-japan-info">
            <div class="ap-jp-gallery cf">
                @{
                    var elements = new[] { 3, 6, 9, 12,15,18,21,24,27,30,33,36,39 };
                }
                @for (int index = 0; index < Model.Count(); index++)
                {
                    var item = Model.ElementAt(index);
                    <div class="ap-jp-item @(elements.Contains(index)? "ap-jp-item--break":"") ">
                        <div class="ap-jp-card">
                            <figure class="ap-jp-fig">
                                <img src=@Url.Content("~/Content/img/japan/" + item.Image) class="ap-jp-img">
                                <span class="ap-jp-prices">
                                    @item.Price
                                </span>
                            </figure>
                            <div class="ap-jp-info">
                                <h2 class="ap-tt-sub">
                                    @item.Title
                                    @if (!string.IsNullOrEmpty(item.Copy))
                                    {
                                        <small class="ap-tt-sub--small">
                                            @item.Copy
                                        </small>}
                                </h2>
                                <input type="submit" value="Comprar" class="ap-btn ap-btn--sb" onclick="location.href = '@Url.Action("Details","Present",new {key = item.Key })' ">
                            </div>
                        </div>
                    </div>
                }
            </div>
            <span id="bp_mobile" class="bp_checking"></span>
        </section>
    </div>
</article>
@section scripts
{
    @if (TempData["message"] != null)
    {
        <script>
            swal({
                text: '@Html.Raw(TempData["message"])',
                type: '@(TempData["type"]!=null && TempData["type"].ToString() == "success" ? "success":"info")',
                confirmButtonText: 'Aceptar',
                confirmButtonColor: '#912b43',
                allowOutsideClick: false,
                allowEscapeKey: false
            });
        </script>
    }
}
