<!DOCTYPE html>
<html ng-app="app.marinares">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="">
    <meta name="author" content="Diegore Gtz">

    <title>Marinares @ViewBag.Title</title>

    <!-- Css -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Special+Elite" rel="stylesheet">
    <link rel="stylesheet" href=@Url.Content("~/Content/css/marinares-master.css")>

    <script type="text/javascript">
        var url = '@Url.Content("~")'
    </script>

    <link href="~/Content/css/sweetalert2.min.css" rel="stylesheet" />
</head>
<body class="ap" ontouchstart="">
    <main class="ap-main">
        <!-- Header -->
        <header class="ap-header ha-header ha-header-small" id="ha-header">
            <div class="ap-header-navigation">
                <h1 class="ap-brand">
                    <a href="#" class="ap-brand-link ap-img-sp ap-img-sp--ribbon-menu"></a>
                    <span class="ap-txt">#Marinares | Esto es una boda de barrio</span>
                </h1>
                <div class="ap-header-logo-nav cf">
                    <div class="ap-instagram f-left">
                        <a href="#" class="ap-nav-social icon-ms-instagram-circle">
                            #marinares
                        </a>

                    </div>
                    <div class="f-right ap-nav-ac">
                        <a href=@Url.Content("~/#ap-confirmacion") class="ap-btn">Confirmar Asistencia</a>
                        <a href="#" class="ap-nav-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
            <nav class="ap-nav">
                <ul id="ap-nav" class="ap-nav-list">
                    <li class="ap-nav-item ap-nav-item--active">
                        <a class="ap-nav-link" href=@Url.Content("~/#ap-inicio")>Inicio</a>
                    </li>
                    <li class="ap-nav-item">
                        <a class="ap-nav-link" href="@Url.Content("~/donde")">¿Dónde?</a>
                    </li>
                    <li class="ap-nav-item">
                        <a class="ap-nav-link" href="@Url.Content("~/donde-hospedarse")">¿Dónde me puedo hospedar?</a>
                    </li>
                    <li class="ap-nav-item">
                        <a class="ap-nav-link" href="#section-3">¿Cómo puedo vestir?</a>
                    </li>
                    <li class="ap-nav-item">
                        <a class="ap-nav-link" href=@Url.Content("~/#ap-confirmacion")>Confirmar asistencia</a>
                    </li>
                    <li class="ap-nav-item">
                        <a class="ap-nav-link" href="@Url.Action("Present","Present")">Mesa de regalos</a>
                    </li>
                </ul>
            </nav>

        </header>

        <section class="ap-layout">
            @RenderBody()

            <!-- Footer -->
            <footer class="ap-footer cf">
                <a href="https://www.instagram.com/" target="_blank" class="ap-bienvenida-hash ap-txt-link">#marinares</a>
            </footer>
        </section>
    </main>


    @Scripts.Render("~/marinares/frameworks",
                    "~/marinares/shared",
                    "~/marinares/ng-modules",
                    "~/marinares/ng-shared")

    <script src="~/Scripts/sweetalert2.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
